root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,hpp,ino}]
indent_style = space
indent_size = 2

[*.{md,yaml,yml,json,json5,toml}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
