name: Renovate Config Validator

on:
  pull_request:
    paths:
      - "renovate.json"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Validate Renovate config
        uses: rinchsan/renovate-config-validator@v0.2.0
        with:
          pattern: 'renovate.json'
